@charset "UTF-8";
/*CARRULES DE IMÁGENES*/
.carousel-item img {
  height: 500px;
  width: 90%;
}

/*PRODUCTOS DESTACADOS*/
.container-Destacados {
  padding: 10px;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  gap: 10px;
  /* IMAGEN CARD */
}
.container-Destacados .card {
  width: 17rem;
}
.container-Destacados .card:hover {
  box-shadow: 2px 2px 15px grey;
  transform: scale(1.04);
}
.container-Destacados .card:hover .card-img-top {
  opacity: 1;
}
.container-Destacados .card .card-img-top {
  border-radius: 10px;
  opacity: 0.9;
  margin-top: 2px;
}
.container-Destacados .card .card-title {
  font-weight: 800;
}
.container-Destacados .card .precio {
  text-align: center;
  width: 50%;
  border-radius: 10px;
  background-color: red;
  font-weight: 800;
  color: white;
  font-size: 1.7rem;
  transition: 0.5s;
}

/*pagina nosotros*/
.nosotros {
  background-color: white;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.nosotros .historia {
  display: flex;
  flex-direction: row;
}
.nosotros .historia img {
  width: 100%;
  height: 300px;
}
.nosotros .historia div {
  padding: 10px;
}
.nosotros .historia div h2 {
  text-align: center;
  font-weight: 700;
}
.nosotros .historia div p {
  font-size: 20px;
}
.nosotros .vision-mision {
  display: flex;
  flex-direction: row;
}
.nosotros .vision-mision img {
  width: 100%;
  height: 300px;
}
.nosotros .vision-mision div {
  padding: 10px;
}
.nosotros .vision-mision div h2 {
  text-align: center;
  font-weight: 700;
}
.nosotros .vision-mision div p {
  font-size: 20px;
}
.nosotros .trabajo img {
  width: 100%;
}

/* pagina*/
.pedidos {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pedidos img {
  width: 80%;
  height: 500px;
  margin: auto;
}
.pedidos .caja {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #eee;
}
.pedidos .caja .pasos_pedidos {
  border: 1px solid gray;
  border-radius: 10px;
  background-image: linear-gradient(orange, rgba(255, 166, 0, 0.663));
  padding: 10px;
}
.pedidos .caja .pasos_pedidos p {
  font-size: 30px;
  text-align: center;
}
.pedidos .caja .pasos_pedidos h2 {
  text-align: center;
}
.pedidos .caja .pedidos_personalizado {
  border: 1px solid gray;
  padding: 10px;
  background-image: linear-gradient(orange, rgba(255, 166, 0, 0.663));
}
.pedidos .caja .pedidos_personalizado h2 {
  text-align: center;
}
.pedidos .caja .pedidos_personalizado h3 {
  text-align: center;
}
.pedidos .caja .pedidos_personalizado p {
  font-size: 30px;
  text-align: center;
}
.pedidos .caja .mapa-envio {
  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
.pedidos .caja .mapa-envio h2 {
  text-align: center;
  margin-bottom: 50px;
}
.pedidos .caja .mapa-envio .zonas_envios {
  display: flex;
}
.pedidos .caja .mapa-envio .zonas_envios img {
  width: 380px;
}
.pedidos .caja .mapa-envio .zonas_envios ul li {
  font-size: 20px;
}

.realizacion-pedido {
  width: 300px;
}

/*FORMULARIO DE CONTACTO*/
.contacto-formulario {
  display: grid;
  grid-template-columns: 50% 1fr;
}
.contacto-formulario .formulario-contacto {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.contacto-formulario .formulario-contacto form {
  background-image: linear-gradient(orange, rgb(255, 212, 84));
  padding: 0 10px 10px 10px;
  border: 1px solid rgba(128, 128, 128, 0.583);
  border-radius: 10px;
  width: 80%;
}
.contacto-formulario .formulario-contacto form input {
  width: 100%;
  border-radius: 5px;
  height: 40px;
}
.contacto-formulario .formulario-contacto form textarea {
  width: 100%;
  border-radius: 5px;
}
.contacto-formulario .mensaje {
  background-image: linear-gradient(white, rgb(198, 195, 195));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 5px;
}

/*condicionales if y else*/
/*bucles*/
.titulo-1 {
  font-size: 1rem;
}

.titulo-2 {
  font-size: 2rem;
}

.titulo-3 {
  font-size: 3rem;
}

.titulo-4 {
  font-size: 4rem;
}

/*EXTEND */
/*MIXINS*/
/*CONDICIONALES*/
.publicidad {
  width: 95%;
  margin: auto;
}
.publicidad div img {
  width: 100%;
}

/*ESTILSO GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulos {
  font-size: 60px;
  text-align: center;
}

.titulo-producto {
  font-size: 40px;
  text-align: center;
}

.subtitulos {
  font: 20px;
  color: black;
}

body {
  background: #eee;
}

/*ENCABEZADO*/
header {
  width: 100%;
  background-image: linear-gradient(100deg, orange, rgb(235, 184, 89), rgb(255, 145, 0));
}
header #logo {
  width: 90px;
  border-radius: 50%;
}
header #logo:hover {
  transform: scale(1.2);
  transition: 0.6s;
}
header .barra-navegacion {
  width: 90%;
  justify-content: center;
}
header .bi-list {
  color: white;
  font-size: 50px;
}
header .activo > a {
  font-weight: 850;
}
header .nav-item {
  padding: 3px 45px;
}
header .nav-item:hover {
  background-image: linear-gradient(120deg, orange, rgb(254, 191, 76));
  transition: 0.3s;
  transform: scale(1.1);
}
header .nav-item:hover a {
  color: black;
}
header .nav-item a {
  color: white;
}

/*pagina nosotros*/
.nosotros {
  background-color: white;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.nosotros .historia {
  display: flex;
  flex-direction: row;
}
.nosotros .historia img {
  width: 500px;
  height: 300px;
}
.nosotros .historia div {
  padding: 10px;
}
.nosotros .historia div h2 {
  text-align: center;
  font-weight: 700;
}
.nosotros .historia div p {
  font-size: 20px;
}
.nosotros .vision-mision {
  display: flex;
  flex-direction: row;
}
.nosotros .vision-mision img {
  width: 500px;
  height: 300px;
}
.nosotros .vision-mision div {
  padding: 10px;
}
.nosotros .vision-mision div h2 {
  text-align: center;
  font-weight: 700;
}
.nosotros .vision-mision div p {
  font-size: 20px;
}
.nosotros .trabajo img {
  width: 100%;
}

/*FOOTER*/
.footer {
  background-image: linear-gradient(rgb(8, 8, 53), rgb(5, 5, 16));
  padding: 5px;
  color: rgba(255, 255, 255, 0.769);
  /*SUSCRIPCION*/
}
.footer .mapa {
  padding: 10px;
  background-color: #eee;
}
.footer .mapa iframe {
  border-radius: 10px;
  width: 100%;
  height: 400px;
}
.footer form {
  padding: 10px;
}
.footer form label {
  display: block;
}
.footer form input {
  width: 100%;
  height: 40px;
  margin: 0 0 8px 0;
  border-radius: 10px;
}
.footer form textarea[name=mensaje] {
  width: 100%;
  height: 230px;
}
.footer form input[value=Enviar] {
  background-color: greenyellow;
}
.footer .suscripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .suscripcion input {
  width: 80%;
  height: 50px;
  margin: 5px 0;
  border-radius: 10px;
}
.footer .suscripcion input[value=Suscribete] {
  background-color: rgb(180, 21, 21);
}
.footer .cajas-redes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .cajas-redes .redes {
  background-color: rgba(255, 255, 255, 0.134);
  display: flex;
  justify-content: space-between;
  width: 40%;
  border-radius: 20px;
}
.footer .cajas-redes i {
  font-size: 40px;
  color: white;
}

/* MOBILE */
@media screen and (max-width: 1030px) {
  .container-Destacados .card {
    width: 21rem;
  }
  .publicidad div .img {
    height: 2rem;
  }
}
@media screen and (max-width: 990px) {
  .publicidad img {
    height: 27rem;
  }
  .carousel-item img {
    height: 250px;
  }
  .cajas-redes .redes {
    width: 80%;
  }
  header .collapse {
    margin-top: 13px;
  }
  header .nav-item:hover {
    background-image: linear-gradient(120deg, orange, rgb(254, 191, 76));
  }
  header .nav-item a {
    color: black;
    font-size: 23px;
    text-align: center;
  }
  .pedidos .caja {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pedidos .caja .pasos_pedidos,
  .pedidos .caja .pedidos_personalizado,
  .pedidos .caja .mapa-envio {
    width: 90%;
  }
  .pedidos .caja .realizacion-pedido {
    width: 100%;
  }
}
@media screen and (max-width: 770px) {
  .publicidad img {
    height: 23rem;
  }
  .contacto-formulario {
    grid-template-columns: 1fr;
  }
  .contacto-formulario .mensaje {
    width: 98%;
    margin: auto;
  }
  .contacto-formulario .mensaje h2 {
    font-size: 24px;
  }
  .contacto-formulario .mensaje p {
    font-size: 19px;
  }
  .formulario-contacto form {
    width: 80%;
  }
  .nosotros {
    width: 80%;
    margin: auto;
  }
  .nosotros .historia {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nosotros .historia img {
    width: 100%;
  }
  .nosotros .historia div p {
    font-size: 15px;
  }
  .nosotros .vision-mision {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .nosotros .vision-mision img {
    width: 100%;
  }
  .nosotros .vision-mision div p {
    font-size: 15px;
  }
}
@media screen and (max-width: 550px) {
  .publicidad img {
    height: 12rem;
  }
  .container-Destacados .card {
    width: 11rem;
  }
  .container-Destacados .card .card:hover {
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.424);
  }
  .container-Destacados .card .card-title {
    font-weight: 800;
    font-size: 19px;
  }
  .container-Destacados .card .precio {
    font-size: 19px;
    width: 60%;
  }
  /* IMAGEN CARD */
  .card-text {
    font-size: 9px;
  }
  .card:hover .precio {
    background-color: rgb(255, 23, 23);
  }
  /* CATALOGO PRODUCTOS */
  .formulario-contacto form {
    width: 100%;
  }
  .mensaje {
    width: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 320px) {
  .publicidad img {
    height: 10rem;
  }
}

/*# sourceMappingURL=styles.css.map */
